.sidebar {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    border-right: 1px solid #bababa;
    position: sticky;
    top: 0;
    .sidebar-header {
        height: 70px;
        border-bottom: 1px solid #bababa;
        .sidebar-header-img {
            height: 50px;
            width: 50px;
            border-radius: 50%;  
            overflow: hidden;
            border: 2px solid #000; 
            img {
                width: 100%;
                height: 100%;
            }
        }
        .sidebar-header-user {
            p {
                margin: 0;
                color: gray;
            }
            
            p:last-child {
                font-weight: 100;
                font-size: 0.8rem;
            }
        }
    }
    .sidebar-menu {
        > p {
            font-weight: 700;
            font-size: 1rem;
        }
        ul {
            padding: 0;
            li {
                cursor: pointer;
                padding: 10px 20px;
                border-radius: 8px;
                margin-bottom: 3px;
            }
            li:first-child {
                background-color: whitesmoke;
            }
            li:hover {
                backgrouncd-color: whitesmoke;
                border-radius: 8px;
                font-weight: 600;
            }
        }
    }
}