.login {
    width: 100vw;
    height: 100vh;
    .login-img {
        height: 80%;
        img {
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: block;
        }
    }
    .login-form {
        height: fit-content;
        padding: 0 50px;
        .login-form-item {
            h1 {
                text-transform: uppercase;
                font-weight: 600;
            }
            input {
                border-radius: 25px;
                padding: 10px 20px;
            }
            button {
                border-radius: 25px;
                padding: 10px 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .login-img {
        display: none;
    }
    
}