.header {
    padding: 0 50px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #bababa;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    .header-sidebar-open {
        cursor: pointer;
        font-size: 1.8rem;
    }
    .header-logo {
        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        span {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
    .header-logout {
        i {
            margin: 0;
            font-size: 1.5rem;
            cursor: pointer;
        }
        i:hover {
            color: crimson;
        }
    }
    .header-sidebar {
        position: absolute;
        left: 0;
        top: 0;
        .header-sidebar-close {
            position: absolute;
            cursor: pointer;
            font-size: 1.8rem;
            margin: 10px;
            z-index: 10;
            top: 0;
            right: 10px;
            color: #fff;
        }
    }
}

.hide {
    display: none;
}

@media screen and (min-width: 992px) {
    .header-sidebar-open {
        display: none;
    }
}
