.list-table {
    .list-table-container {
        margin: 0 50px;
        .page-number {
            i {
                cursor: pointer;
                font-size: 1rem;
            }
            p {
                background-color: navy;
                color: #fff;
                padding: 5px 15px;
                border-radius: 8px;
                margin: 0 1px 2px 1px;
                cursor: pointer;
            }
            p:first-child {
                background-color: rgb(58, 58, 193);
            }
        }
        .list-table-content {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 10px;
            height: fit-content;
            width: inherit;
            display: block;
            overflow-x: auto;
            table {
                z-index: -1;
                thead {
                    position: sticky;
                    top: 0;
                    tr {
                        z-index: -10;
                        color: #fff;
                        background-color: gray;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {

    .list {
        .list-container {
            margin: 0 20px;
        }
    }
    .app-sidebar {
        display: none;
    }
}
